In [65]:
'''Life expectancy prediction based on BMI'''
import pandas as pd

#read csv file
bmi_life_data = pd.read_csv("bmi_and_life_expectancy.csv")
bmi_life_data

                Country  Life expectancy       BMI
0           Afghanistan             52.8  20.62058
1               Albania             76.8  26.44657
2               Algeria             75.5  24.59620
3               Andorra             84.6  27.63048
4                Angola             56.7  22.25083
..                  ...              ...       ...
158             Vanuatu             63.4  26.78926
159  West Bank and Gaza             74.1  26.57750
160             Vietnam             74.1  20.91630
161              Zambia             51.1  20.68321
162            Zimbabwe             47.3  22.02660

[163 rows x 3 columns]

In [64]:
#Build linear regression model
from sklearn.linear_model import LinearRegression
bmi_life_model = LinearRegression()
bmi_life_model.fit(bmi_life_data[['BMI']], bmi_life_data[['Life expectancy']])

LinearRegression()

In [59]:
#Predict
laos_life_exp = bmi_life_model.predict([[21.07931]])
print(laos_life_exp)

[[60.29331731]]